@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  font-family: "Open Sans", sans-serif;
}

.appContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 100px;
  box-shadow: 10px 11px 33px 1px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

th,
td {
  border: 1px groove black;
  text-align: left;
  padding: 8px;
  font-size: 24px;
}

th {
  background-color: #212529;
  color: white;
  padding: 1em;
}

td {
  background-color: white;
}

.countryFlag {
  width: 50px;
  margin-right: 1rem;
}

.title {
  text-align: center;
  padding: 1rem;
}

.select {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.7rem;
  padding: 1em;
  border-radius: 5px;
  outline-width: 0;
  border: none;
  background-color: transparent;
}

.select:hover {
  cursor: pointer;
  background-color: #212529;
  color: white;
  transition: 0.4s ease-in-out;
}
